@{
    ViewData["Title"] = "Library";
}
<div class="col-12">
    <div class="row">
        <a class="btn btn-success text-white" role="button" asp-action="AddBook">Add Book</a>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Publisher</th>
                    <th>Publish Date</th>
                    <th>Category</th>
                    <th>Pages</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @if (BookRepository.Books.Count() == 0)
                {
                    <tr>
                        <td colspan="8">No Data</td>
                    </tr>
                }
                else
                {
                    foreach (var book in BookRepository.Books)
                    {
                        <tr>
                            <td>book.Author</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>