@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <dl class="row col-sm-6 mx-auto">
        <dt class="col-sm-6 text-right">Assignment #:</dt>
        <dd class="col-sm-6 text-left">1</dd>

        <dt class="col-sm-6 text-right">Members:</dt>
        <dd class="col-sm-6 text-left">
            Timothy Catibog (991440745)<br />
            Stefan Tanaskovic (991511319)
        </dd>

        <dt class="col-sm-6 text-right">Section:</dt>
        <dd class="col-sm-6 text-left">PROG30000</dd>

        <dt class="col-sm-6 text-right">Instructor:</dt>
        <dd class="col-sm-6 text-left">Syed Tanbeer</dd>
    </dl>
</div>
